@media (min-width:760px) {
    .proyectos__js {
        grid-template-columns: repeat(2, 35rem);
        grid-template-rows: repeat(2, 15rem) auto;
        gap: 4rem;
        justify-content: center;
    }

    .ventanaContacto {
        width: 40rem;
        left: calc(50% - 20rem);
    }

    .ventanaContacto__title {
        margin-top: 9rem;
    }

    .ventanasProyectos__portafolio,
    .ventanasProyectos__tInteractiva,
    .ventanasProyectos__loopstudios,
    .ventanasProyectos__formContacto,
    .ventanasProyectos__formProgramar,
    .ventanasProyectos__adivinaNumero {
        width: 50rem;
        left: calc(50% - 25rem);
    }



}

@media (min-width:1100px) {
    .proyectos__js {
        grid-template-columns: repeat(2, 55rem);
        grid-template-rows: repeat(2, 23rem) auto;
        gap: 4rem;
        justify-content: center;
    }

    .descripcion__text {
        font-size: 1.8rem;
    }

    .proyectos__info--description {
        font-size: 1.8rem;
    }

}

@media (max-height:350px) and (orientation:landscape) {
    .header__arrow--bottom1 {
        left: 1rem;
        bottom: 1rem;
    }

    .header__arrow--bottom2 {
        right: 1rem;
        bottom: 1rem;
    }

    .ventanasProyectos__portafolio,
    .ventanasProyectos__tInteractiva,
    .ventanasProyectos__loopstudios,
    .ventanasProyectos__formContacto,
    .ventanasProyectos__formProgramar,
    .ventanasProyectos__adivinaNumero {
        width: 55rem;
        left: calc(50% - 27.5rem);
    }

    .ventanasProyectos__portafolio--tilte,
    .ventanasProyectos__tInteractiva--tilte,
    .ventanasProyectos__loopstudios--tilte,
    .ventanasProyectos__formContacto--tilte,
    .ventanasProyectos__formProgramar--tilte,
    .ventanasProyectos__adivinaNumero--tilte {
        margin: 3rem 0 1rem;
        text-align: center;
        @include title;
        font-size: 2rem;
    }


}