@mixin crearFlex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin iconosHeader {
    position: absolute;
    width: 9rem;
    z-index: -1;
    opacity: 0.2;
}

@mixin positionIconLeft($y, $x) {
    top: $y;
    left: $x;
}

@mixin positionIconRight($y, $x) {
    top: $y;
    right: $x;
}

@mixin iconCenter {
    top: 0;
    left: calc(50% - 5rem);
}

@mixin title {
    font-size: 3rem;
    color: $verde;
    letter-spacing: 1rem;
    font-family: $fuente1;
}

@mixin textDescription {
    font-size: 1.6rem;
    color: $verde;
    text-align: center;
    padding: 0 3rem;
    opacity: 0.7;
}

@mixin iconProyectos {
    width: 15rem;
    margin: 8rem 0 10rem;
}

@mixin iconSpanFondo($x, $y, $url) {
    display: inline-block;
    width: $x;
    height: $y;
    background-image: url($url);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin ventanaEmergente{
    width: 30rem;
    height: 95%;
    min-height:320px;
    position: fixed;
    top: 0;
    left: calc(50% - 15rem);
    background-color: #333;
    border: 1px solid $verde;
    border-radius: 1rem;
    margin: 1rem auto;
    z-index: 2;
}