.proyectos {
    margin-top: 10rem;

    &__info {
        @include crearFlex;
        flex-direction: column
    }

    &__info--title {
        @include title;
    }

    &__js {
        flex-direction: column;
        @include crearFlex;
    }

    &__info--description {
        margin-top: 5rem;
        padding: 0 1rem;
        @include textDescription;
        font-size: 1.8rem;
    }

    &__info--description a {
        color: $beige;
        font-size: 1.8rem;
    }

    &__js {
        display: grid;
        grid-template-columns: 30rem;
        grid-template-rows: repeat(5, 13rem);
        gap: 4rem;
        margin: 10rem 0;
    }

    &__js--img {
        width: 100%;
        border: 1px solid $verde;
        border-radius: 1rem;
        cursor: pointer;
    }
}

