.ventanaContacto {
    @include ventanaEmergente;

    &__iconClose {
        position: absolute;
        right: 1rem;
        top: 1rem;
        display: inline-block;
        @include iconSpanFondo(5rem, 5rem, '../../assets/icons/icons8-close-64.png');
        cursor: pointer;
    }

    &__title {
        @include title;
        font-size: 2rem;
        margin-top: 7rem;
        text-align: center;
    }

    &__text {
        @include textDescription;
        padding: 0 2rem;
        margin-top: 3rem;
    }

    &__text--link {
        color: $beige;
    }

    &__text--espacio {
        display: block;
        margin-top: 3rem;
    }

    &__text--numero {
        display: block;
        margin-top: 2rem;
        color: $beige;
    }
}

.ventanaCerrar {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0,0.4);
}


.inactive {
    display: none;
}