* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #333;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
}
.header__info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.header__info--title {
  font-size: 6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 5rem;
  color: #02D28F;
  letter-spacing: 0.5rem;
  text-align: center;
}
.header__info--nombre {
  font-size: 2.5rem;
  font-family: "Ubuntu Condensed", sans-serif;
  font-weight: 400;
  color: #02D28F;
  letter-spacing: 0.2rem;
}
.header__arrow--bottom1 {
  width: 100px;
  position: absolute;
  bottom: 5rem;
}
.header__arrow--bottom2 {
  width: 100px;
  position: absolute;
  bottom: 1rem;
}
.header__icon--css {
  position: absolute;
  width: 9rem;
  z-index: -1;
  opacity: 0.2;
  top: 50%;
  left: -2rem;
}
.header__icon--git {
  position: absolute;
  width: 9rem;
  z-index: -1;
  opacity: 0.2;
  top: 20%;
  right: 0;
}
.header__icon--html {
  position: absolute;
  width: 9rem;
  z-index: -1;
  opacity: 0.2;
  top: 20%;
  left: -2rem;
}
.header__icon--js {
  position: absolute;
  width: 9rem;
  z-index: -1;
  opacity: 0.2;
  top: 10%;
  left: 40%;
}
.header__icon--react {
  position: absolute;
  width: 9rem;
  z-index: -1;
  opacity: 0.2;
  top: 80%;
  left: 2rem;
}
.header__icon--sass {
  position: absolute;
  width: 9rem;
  z-index: -1;
  opacity: 0.2;
  top: 50%;
  right: 0;
}
.header__icon--webPack {
  position: absolute;
  width: 9rem;
  z-index: -1;
  opacity: 0.2;
  top: 80%;
  right: 2rem;
}

.descripcion {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.descripcion__iconSetting {
  position: absolute;
  width: 10rem;
  margin-bottom: 12rem;
}
.descripcion__title {
  margin: 20rem 0 3rem;
  font-size: 3rem;
  color: #02D28F;
  letter-spacing: 1rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 2rem;
}
.descripcion__text {
  font-size: 1.6rem;
  color: #02D28F;
  text-align: center;
  padding: 0 3rem;
  opacity: 0.7;
}

.proyectos {
  margin-top: 10rem;
}
.proyectos__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.proyectos__info--title {
  font-size: 3rem;
  color: #02D28F;
  letter-spacing: 1rem;
  font-family: "Roboto", sans-serif;
}
.proyectos__js {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.proyectos__info--description {
  font-size: 1.6rem;
  color: #02D28F;
  text-align: center;
  padding: 0 3rem;
  opacity: 0.7;
  margin-top: 5rem;
  padding: 0 1rem;
}
.proyectos__info--description a {
  color: #fdeedc;
  font-size: 1.8rem;
}
.proyectos__js {
  display: grid;
  grid-template-columns: 30rem;
  grid-template-rows: repeat(5, 13rem);
  gap: 4rem;
  margin: 10rem 0;
}
.proyectos__js--img {
  width: 100%;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
}

@media (min-width: 760px) {
  .proyectos__js {
    grid-template-columns: repeat(2, 35rem);
    grid-template-rows: repeat(2, 15rem) auto;
    gap: 4rem;
    justify-content: center;
  }
  .proyectos__js--img5 {
    grid-area: 3/1/4/3;
  }
}
@media (min-width: 1100px) {
  .proyectos__js {
    grid-template-columns: repeat(2, 55rem);
    grid-template-rows: repeat(2, 23rem) auto;
    gap: 4rem;
    justify-content: center;
  }
  .proyectos__js--img5 {
    grid-area: 3/1/4/3;
  }
}

/*# sourceMappingURL=main.css.map */
