* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #333;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 1;
}
.header__info {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
.header__info--title {
  font-size: 6rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin-bottom: 5rem;
  color: #02D28F;
  letter-spacing: 0.5rem;
  text-align: center;
}
.header__info--nombre {
  font-size: 2.5rem;
  font-family: "Ubuntu Condensed", sans-serif;
  font-weight: 400;
  color: #02D28F;
  letter-spacing: 0.2rem;
}
.header__arrow--bottom1 {
  width: 100px;
  position: absolute;
  bottom: 5rem;
}
.header__arrow--bottom2 {
  width: 100px;
  position: absolute;
  bottom: 1rem;
}
.header__icon--css {
  position: absolute;
  width: 9rem;
  z-index: -1;
  opacity: 0.2;
  top: 50%;
  left: -2rem;
}
.header__icon--git {
  position: absolute;
  width: 9rem;
  z-index: -1;
  opacity: 0.2;
  top: 20%;
  right: 0;
}
.header__icon--html {
  position: absolute;
  width: 9rem;
  z-index: -1;
  opacity: 0.2;
  top: 20%;
  left: -2rem;
}
.header__icon--js {
  position: absolute;
  width: 9rem;
  z-index: -1;
  opacity: 0.2;
  top: 10%;
  left: 40%;
}
.header__icon--react {
  position: absolute;
  width: 9rem;
  z-index: -1;
  opacity: 0.2;
  top: 80%;
  left: 2rem;
}
.header__icon--sass {
  position: absolute;
  width: 9rem;
  z-index: -1;
  opacity: 0.2;
  top: 50%;
  right: 0;
}
.header__icon--webPack {
  position: absolute;
  width: 9rem;
  z-index: -1;
  opacity: 0.2;
  top: 80%;
  right: 2rem;
}

.descripcion {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.descripcion__iconSetting {
  position: absolute;
  width: 10rem;
  margin-bottom: 30rem;
}
.descripcion__title {
  margin: 20rem 0 3rem;
  font-size: 3rem;
  color: #02D28F;
  letter-spacing: 1rem;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 2rem;
}
.descripcion__text {
  font-size: 1.6rem;
  color: #02D28F;
  text-align: center;
  padding: 0 3rem;
  opacity: 0.7;
}
.descripcion__contacto {
  margin-top: 5rem;
}
.descripcion__contacto--title {
  font-size: 3rem;
  color: #02D28F;
  letter-spacing: 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
}
.descripcion__contacto--link {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.descripcion__contacto--linkWhatsapp {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  background-image: url("../../assets/icons/icons8-whatsapp-96.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 1rem;
  cursor: pointer;
}
.descripcion__contacto--linkFacebook {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  background-image: url("../../assets/icons/icons8-facebook-96.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 1rem;
  cursor: pointer;
}
.descripcion__contacto--linkGmail {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  background-image: url("../../assets/icons/icons8-mail-96.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 1rem;
  cursor: pointer;
}

.proyectos {
  margin-top: 10rem;
}
.proyectos__info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.proyectos__info--title {
  font-size: 3rem;
  color: #02D28F;
  letter-spacing: 1rem;
  font-family: "Roboto", sans-serif;
}
.proyectos__js {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.proyectos__info--description {
  margin-top: 5rem;
  padding: 0 1rem;
  font-size: 1.6rem;
  color: #02D28F;
  text-align: center;
  padding: 0 3rem;
  opacity: 0.7;
}
.proyectos__info--description a {
  color: #fdeedc;
  font-size: 1.8rem;
}
.proyectos__js {
  display: grid;
  grid-template-columns: 30rem;
  grid-template-rows: repeat(5, 13rem);
  gap: 4rem;
  margin: 10rem 0;
}
.proyectos__js--img {
  width: 100%;
  border: 1px solid #02D28F;
  border-radius: 1rem;
  cursor: pointer;
}

@media (min-width: 760px) {
  .proyectos__js {
    grid-template-columns: repeat(2, 35rem);
    grid-template-rows: repeat(2, 15rem) auto;
    gap: 4rem;
    justify-content: center;
  }
}
@media (min-width: 1100px) {
  .proyectos__js {
    grid-template-columns: repeat(2, 55rem);
    grid-template-rows: repeat(2, 23rem) auto;
    gap: 4rem;
    justify-content: center;
  }
}
.tecnologias {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10rem;
}
.tecnologias__title {
  font-size: 3rem;
  color: #02D28F;
  letter-spacing: 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
}
.tecnologias__icons {
  margin-top: 6rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(8rem, 50rem));
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
}
.tecnologias__icons--title {
  font-size: 1.6rem;
  color: #02D28F;
  text-align: center;
  padding: 0 3rem;
  opacity: 0.7;
  padding: 0;
}
.tecnologias__icons--html {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  background-image: url("../../assets/icons/icons8-html-5-144.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tecnologias__icons--css {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  background-image: url("../../assets/icons/icons8-css3-144.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tecnologias__icons--sass {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  background-image: url("../../assets/icons/icons8-sass-144.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tecnologias__icons--js {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  background-image: url("../../assets/icons/icons8-javascript-144.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tecnologias__icons--webp {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  background-image: url("../../assets/icons/icons8-webpack-144.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tecnologias__icons--tyJs {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  background-image: url("../../assets/icons/icons8-typescript-96.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tecnologias__icons--react {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  background-image: url("../../assets/icons/icons8-react-200.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.tecnologias__icons--git {
  display: inline-block;
  width: 7rem;
  height: 7rem;
  background-image: url("../../assets/icons/icons8-git-144.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  background-color: rgba(2, 210, 143, 0.4);
  padding: 2rem 0 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer__portafolio {
  font-size: 3rem;
  color: #02D28F;
  letter-spacing: 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
  margin: 3rem 0 1rem;
  color: #fdeedc;
}
.footer__text {
  font-size: 1.6rem;
  color: #02D28F;
  text-align: center;
  padding: 0 3rem;
  opacity: 0.7;
  margin-bottom: 3rem;
  color: #fdeedc;
}
.footer__lista {
  list-style: none;
  font-size: 1.6rem;
  color: #02D28F;
  text-align: center;
  padding: 0 3rem;
  opacity: 0.7;
}
.footer__lista--whatsapp {
  color: #000;
  font-weight: 400;
}
.footer__lista--whatsapp span {
  color: #fdeedc;
  opacity: 1;
}
.footer__lista--facebook {
  margin: 1rem;
}
.footer__lista--facebook a {
  color: #fdeedc;
}

.ventanaContacto {
  width: 30rem;
  height: 80%;
  position: fixed;
  top: 0;
  left: calc(50% - 15rem);
  background-color: #333;
  border: 1px solid #02D28F;
  border-radius: 1rem;
  margin: 5rem auto;
  z-index: 2;
}
.ventanaContacto__iconClose {
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: inline-block;
  display: inline-block;
  width: 5rem;
  height: 5rem;
  background-image: url("../../assets/icons/icons8-close-64.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ventanaContacto__title {
  font-size: 3rem;
  color: #02D28F;
  letter-spacing: 1rem;
  font-family: "Roboto", sans-serif;
  font-size: 2rem;
  margin-top: 7rem;
  text-align: center;
}
.ventanaContacto__text {
  font-size: 1.6rem;
  color: #02D28F;
  text-align: center;
  padding: 0 3rem;
  opacity: 0.7;
  padding: 0 2rem;
  margin-top: 3rem;
}
.ventanaContacto__text--link {
  color: #fdeedc;
}
.ventanaContacto__text--espacio {
  display: block;
  margin-top: 3rem;
}
.ventanaContacto__text--numero {
  display: block;
  margin-top: 2rem;
  color: #fdeedc;
}

.ventanaCerrar {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.inactive {
  display: none;
}

/*# sourceMappingURL=main.css.map */
